{% extends "base.html" %}
{% load url from future %}

{% block title %}
    {{ bag.bagname }}
{% endblock title %}

{% block content %}
<section id="bag">
    <header class="container-fluid">
        <h1>{{ bag.bagname }}</h1>
        <dl>
            <dt>Item</dt><dd><a href="{% url 'item' bag.item.id %}">{% if bag.item.title %}{{ bag.item.title }}{% else %}{{ bag.item.id }}{% endif %}</a></dd>
            <dt>Machine</dt><dd>{{ bag.machine.name }}</dd>
            <dt>URL path</dt><dd><a href="http://{{ bag.urlpath }}">{{ bag.urlpath }}</a></dd>
        </dl>
    </header>
    <div id="actions" class="container-fluid">
        <h3>History of this bag</h3>
        <table class="table table-striped">
            <tr>
                <th>Action</th>
                <th>Timestamp</th>
                 <th>Note</th>
            </tr>
            {% if actions %}
                {% for action in actions %}
                <tr class="action">
                    <td>{{ action.get_action_display }}</td>
                    <td>{{ action.timestamp }}</td>
                    <td>{{ action.note }}</td>
                </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td>No history data for this bag</td>
                    <td></td>
                    <td></td>
                </tr>
            {% endif %}
        </table>
    </div>
    <div id="payload" class="container-fluid">
        <h3>Bag Payload</h3>
        <h5>Aggregate Stats</h5>
        <table class="table table-striped">
            <tr>
                <th>File Type</th>
                <th>Count</th>
                <th>Size</th>
            </tr>
            {% for ftype, values in bag.pstats.types.items %}
            <tr>
                <td>{{ ftype }}</td>
                <td>{{ values.count }}</td>
                <td>{{ values.size }} ({{ values.size|filesizeformat }})</td>
            </tr>
            {% endfor %}
            <tr>
                <td><b>Total</b></td>
                <td>{{ bag.filecount }}</td>
                <td>{{ bag.size }} ({{ bag.size|filesizeformat }})</td>
            </tr>
        </table>
        <h5>Individual Files</h5>
        {% if bag_list.count >= 10 %}
        <div class="pagination">
            <ul>
                {% for box in bag_list.boxes %}
                    {% if box.disabled %}
                <li class="disabled"><a>{{box.disp}}</a></li>
                    {% else %}
                <li><a href="?bag_page={{box.link}}">{{box.disp}}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        <table class="table table-striped">
            <tr>
                <th>File</th>
                <th>Size</th>
            </tr>
        {% for file in bag_list %}
            <tr>
                <td><a href="http://{{ bag.urlpath }}/{{ file.0 }}">{{ file.0 }}</a></td>
                <td>{{ file.1 }} ({{ file.1|filesizeformat }})</td>
            </tr>
        {% endfor %}
        </table>
    </div>
</section>

{% endblock content %}
