{% extends "base.html" %}
{% load url from future %}
{% load invapp_extras %}

{% block javascript_extra %}
<script type="text/javascript">
    $(function() {
        $("#search_bag_files").autocomplete({
            select: function(event, ui) {
                $(this).val(ui.item.value);
                $("#search_form").submit();
            },
            source: function(request, response) {
                var files = {{bag.list_payload_str|safe}};
                var result = [];
                for(var i=0; i<files.length; i++) {
                    var keyword = request.term;
                    if(files[i][0].toLowerCase().indexOf(request.term.toLowerCase()) != -1)
                        result.push(files[i][0]);
                }
                response(result);
            }
        });
    });

    $("#search_bag_files").keypress(function() {
        if(event.which == 13) {
            event.preventDefault();
            $("#search_form").submit();
        }
    });
</script>
{% endblock javascript_extra %}

{% block content %}
<section id="bag">
    <header class="container-fluid">
        <h1><a href="{% url 'collection' bag.item.collection.id %}">{{ bag.item.collection.name }}</a> &raquo;
            <a href="{% url 'item' bag.item.id %}">{% if bag.item.title %}{{ bag.item.title }}{% else %}{{ bag.item.id }}{% endif %}</a> &raquo;
            {{ bag.bagname }}</h1>

        <div class='row-fluid'>
            <div class='span3'>
                <h2>on storage: <a href="{% url 'machine' bag.machine.id %}">{{ bag.machine.name }}</a></h2>
                <p><a class="btn btn-primary" href="{{ bag.access_url }}">View all raw content</a></p>
            </div>
            <div id="payload" class="span3">
                <table class="table table-condensed table-striped">
                    <thead>
                        <tr>
                            <th>type</th>
                            <th>#</th>
                            <th>size</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for ftype, values in bag.stats.types.items %}
                        <tr>
                            <td>{{ ftype }}</td>
                            <td>{{ values.count }}</td>
                            <td>{{ values.size|filesizeformat }}</td>
                        </tr>
                    {% endfor %}
                        <tr>
                            <td><b>Total</b></td>
                            <td><strong>{{ bag.filecount }}</strong></td>
                            <td><strong>{{ bag.size|filesizeformat }}</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </header>

    {% if actions %}
    <div id="actions" class="container-fluid">
        <h3>History</h3>
        <table class="table table-striped">
            <tr>
                <th>Action</th>
                <th>Timestamp</th>
                <th>Note</th>
            </tr>
                {% for action in actions %}
                <tr class="action">
                    <td>{{ action.get_action_display }}</td>
                    <td>{{ action.timestamp }}</td>
                    <td>{{ action.note }}</td>
                </tr>
                {% endfor %}
        </table>
    </div>
    {% endif %}


    <div class='container-fluid'>
        <h5>Individual Files</h5>
        <div>
            <div class="dropdown file-type-dropdown">
                <a class="dropwdown-toggle ui-button" id="dLabel" role="button" data-toggle="dropdown" data-target="" href="">
                    File Type
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <li><a href="?file_type=all">All</a></li>
                    {% for ftype in bag.stats.types %}
                    <li><a href="?file_type={{ ftype }}">{{ ftype }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            {% if files.paginator.count >= 10 %}
                {% bootstrap_paginator_bar files 'files_page' %}
            {% endif %}
        </div>
        <div class="search">
            <form id="search_form" class='form-inline' action="{% url 'bag' bag.bagname %}" method="GET">
                <label for="search_bag_files"><h5>Search: </h5></label>
                <input id="search_bag_files" name="search_bag_files" type="text" />
            </form>
        </div>
        <table class="table table-striped">
            <tr>
                <th>File</th>
                <th>Size</th>
            </tr>
        {% for file in files %}
            <tr>
                <td><a href="{{ bag.access_url }}/{{ file.0 }}">{{ file.0 }}</a></td>
                <td>{{ file.1|filesizeformat }}</td>
            </tr>
        {% endfor %}
        </table>
        {% if files.paginator.count >= 10 %}
            {% bootstrap_paginator_bar files 'files_page' %}
        {% endif %}
    </div>
</section>

{% endblock content %}
