{% extends "base.html" %}
{% load url from future %}
{% load invapp_extras %}

{% block title %}
    {{ bag.bagname }}
{% endblock title %}

{% block javascript_extra %}
<script type="text/javascript">
    $(function() {
        $("#search_bag_files").autocomplete({
            select: function(event, ui) {
                $(this).val(ui.item.value);
                $("#search_form").submit();
            },
            source: function(request, response) {
                var files = {{bag.list_payload_str|safe}};
                var result = [];
                for(var i=0; i<files.length; i++) {
                    var keyword = request.term;
                    if(files[i][0].toLowerCase().indexOf(request.term.toLowerCase()) != -1)
                        result.push(files[i][0]);
                }
                response(result);
            }
        });
    });

    $("#search_bag_files").keypress(function() {
        if(event.which == 13) {
            event.preventDefault();
            $("#search_form").submit();
        }
    });
</script>
<style>
    .ui-autocomplete {
        max-height: 100px;
        overflow-y: auto;
        overflow-x: hidden;
    }
</style>
{% endblock javascript_extra %}

{% block content %}
<section id="bag">
    <header class="container-fluid">
        <h1>{{ bag.bagname }}</h1>
        <dl>
            <dt>Item</dt><dd><a href="{% url 'item' bag.item.id %}">{% if bag.item.title %}{{ bag.item.title }}{% else %}{{ bag.item.id }}{% endif %}</a></dd>
            <dt>Machine</dt><dd><a href="{% url 'machine' bag.machine.id %}">{{ bag.machine.name }}</a></dd>
            <dt>URL path</dt><dd><a href="http://{{ bag.access_url }}">{{ bag.access_url }}</a></dd>
        </dl>
    </header>
    <div id="actions" class="container-fluid">
        <h3>History of this bag</h3>
        <table class="table table-striped">
            <tr>
                <th>Action</th>
                <th>Timestamp</th>
                 <th>Note</th>
            </tr>
            {% if actions %}
                {% for action in actions %}
                <tr class="action">
                    <td>{{ action.get_action_display }}</td>
                    <td>{{ action.timestamp }}</td>
                    <td>{{ action.note }}</td>
                </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td>No history data for this bag</td>
                    <td></td>
                    <td></td>
                </tr>
            {% endif %}
        </table>
    </div>
    <div id="payload" class="container-fluid">
        <h3>Bag Payload</h3>
        <h5>Aggregate Stats</h5>
        <table class="table table-striped">
            <tr>
                <th>File Type</th>
                <th>Count</th>
                <th>Size</th>
            </tr>
            {% for ftype, values in bag.stats.types.items %}
            <tr>
                <td>{{ ftype }}</td>
                <td>{{ values.count }}</td>
                <td>{{ values.size }} ({{ values.size|filesizeformat }})</td>
            </tr>
            {% endfor %}
            <tr>
                <td><b>Total</b></td>
                <td>{{ bag.filecount }}</td>
                <td>{{ bag.size }} ({{ bag.size|filesizeformat }})</td>
            </tr>
        </table>
        <h5>Individual Files</h5>
        <div style="width:100%">
            <div class="dropdown" style="float:left;width:5%">
                <a class="dropwdown-toggle ui-button" id="dLabel" role="button" data-toggle="dropdown" data-target="" href="">
                    File Type
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <li><a href="?file_type=all">All</a></li>
                    {% for ftype in bag.stats.types %}
                    <li><a href="?file_type={{ ftype }}">{{ ftype }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            {% if files.paginator.count >= 10 %}
                {% bootstrap_paginator_bar files 'files_page' %}
            {% endif %}
        </div>
        <div style="width:100%;float:left;">
            <form id="search_form" action="{% url 'bag' bag.bagname %}" method="GET">
                <label for="search_bag_files"><h5>Search: </h5></label>
                <input id="search_bag_files" name="search_bag_files" type="text" />
            </form>
        </div>
        <table class="table table-striped">
            <tr>
                <th>File</th>
                <th>Size</th>
            </tr>
        {% for file in files %}
            <tr>
                <td><a href="http://{{ bag.access_url }}/{{ file.0 }}">{{ file.0 }}</a></td>
                <td>{{ file.1 }} ({{ file.1|filesizeformat }})</td>
            </tr>
        {% endfor %}
        </table>
    </div>
</section>

{% endblock content %}
