{% load url from future %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}GWU Libraries Digital Inventory{% endblock title %}</title>
        
        <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon" />

        <!-- 'viewport' helps mobile devices scale appropriately -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0" /> 

        {% block styles %}
        <link rel="stylesheet" type='text/css' href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/themes/smoothness/jquery-ui.css" />
        <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
    	<link href="{{ STATIC_URL }}css/inventory.css" rel="stylesheet" type='text/css' media='screen' />
        <link href="{{ STATIC_URL }}css/libheader7_lite.css" rel="stylesheet" type='text/css' media='screen' />
        <link href="{{ STATIC_URL }}css/libheader7_lite_bootswatch.css" rel="stylesheet" type='text/css' media='screen' />
        <!--[if lt IE 9]>
            <link href="{{ STATIC_URL }}css/libheader7_lite_ie.css" rel="stylesheet">
        <![endif]--> 
        {%endblock styles %}

        {% block styles_extra %}
        {% endblock styles_extra %}

        {% block javascript %}
        <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>
        <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                setTimeout(function() {
                    $("#message").fadeOut();}, 5000);
            });
        </script>
        {% endblock javascript %}

        {% block javascript_extra %}
        {% endblock javascript_extra %}

        {% block link_extra %}
        {% endblock link_extra %}

        {% block analytics_bug %}
        {% endblock analytics_bug %}
    </head>
    <body>

        {% block header %}
        <!-- this is the Libsite7 Lite Header -->
        <header class="navbar-fixed-top">
            <div id="libheader-container" style="">
                <div id="libheader" class="container" style="">
                    {% if user.is_authenticated %}
                    <div class="libheader-link" style="float:right;">
                        <i class='icon-off icon-white'></i>&nbsp;<a href="{% url 'logout' %}">logout</a>
                    </div>
                    <div class="libheader-link" style="float:right;">
                        <i class='icon-wrench icon-white'></i>&nbsp;<a href="{% url 'change_password' %}">change password</a>
                    </div>
                    <div class="libheader-link" style="float:right;">
                        <i class='icon-user icon-white'></i>&nbsp;{{ request.user.username }}
                    </div>
                    {% endif %}
                    <div class="libheader-logo hide-lo" style="">
                        <a href="http://www.gwu.edu" target="_blank" title="GWU website"><img src="{{ STATIC_URL }}img/gwheaderlogo.png" alt="logo: The George Washington University" /></a>
                    </div>
                    <div class="libheader-liblink" style="">
                        <a href="http://library.gwu.edu" target="_blank" title="GW Libraries website">GW Libraries</a>
                    </div>
                    <div class="libheader-link" style="">
                        <a href="{% url 'home' %}" title="inventory home">Inventory</a>
                    </div>
                    <!-- don't need these yet
                    <div class="bullet" style="">&bull;</div>
                    <div class="libheader-link" style=""><a href="#" target="_blank" title="">Placeholder Link 2</a></div>
                    -->
                </div>
            </div>
        </header>
        <!-- end Libsite7 Lite Header -->
        {% endblock header %}

        {% block message %}
        <div id="message" class="container-fluid" align="center">
            {% for message in messages %}
                <p class="alert alert-{{message.tags}}">{{ message }}</p>
            {% endfor %}
        </div>
        {% endblock message %}

        {% block content %}
        {% endblock content %}

        {% block footer %}
        <!-- the Libsite7 Lite Footer -->
        <br/>
        <footer class="navbar-fixed-bottom">
            <div id="libfooter-container" style="">
                <div id="libfooter" class="container" style="">
                    <div class="libfooter-text" style="">
                        <span class="address">
                            <a href="http://library.gwu.edu" target="_blank" title="GW Libraries Website">GW Libraries</a>
                            &#8226; 2130 H Street NW &#8226; Washington DC 20052
                        </span>
                        &#8226;
                        <span class="tel">202.994.6558</span>
                        &#8226;
                        <a href="mailto:refdesk@gwu.edu" target="_blank" title="">refdesk@gwu.edu</a>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end Libsite7 Lite Footer -->
        {% endblock footer %}
    </body>
</html>
