<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock title %} - GWUL Digital Inventory</title>
        <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon" />

        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script src="/static/js/bootstrap.js"></script>

        <!-- 'viewport' helps mobile devices scale appropriately -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0" /> 


        {% block styles %}
        <link rel="stylesheet" href="/static/css/libheader.css" type="text/css" media="screen" />
        <!--[if lt IE 9]>
            <link rel="stylesheet" href="/static/css/libheader_ie.css" type="text/css" media="screen" />
        <![endif]-->
        <link href="/static/css/bootstrap.css" rel="stylesheet" />
        {%endblock styles %}

        {% block styles_extra %}
        {% endblock styles_extra %}

        {% block javascript %}
        {% endblock javascript %}

        {% block javascript_extra %}
        {% endblock javascript_extra %}

        {% block link_extra %}
        {% endblock link_extra %}

        {% block analytics_bug %}
        {% endblock analytics_bug %}
    </head>
    <body>

        {% block header %}
            {% include "header.html" %}
        {% endblock header %}

        {% block content %}
        {% endblock content %}

        {% block footer %}
        {% endblock footer %}
    </body>
</html>
