<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock title %} - GWUL Digital Inventory</title>
        <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon" />

        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>

        <!-- 'viewport' helps mobile devices scale appropriately -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0" /> 


        {% block styles %}
        <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
        <style type="text/css">
            body {
                padding-top: 40px;
            }
        </style>
        {%endblock styles %}

        {% block styles_extra %}
        {% endblock styles_extra %}

        {% block javascript %}
        {% endblock javascript %}

        {% block javascript_extra %}
        {% endblock javascript_extra %}

        {% block link_extra %}
        {% endblock link_extra %}

        {% block analytics_bug %}
        {% endblock analytics_bug %}
    </head>
    <body>

        {% block header %}
            <header class="navbar navbar-fixed-top">
                <div class="navbar-inner">
                    <div class="container">
                        <a class="brand" href="http://library.gwu.edu">GWU Libraries</a>
                        <a class="brand" href="/">Digital Inventory</a>
                    </div>
                </div>
            </header>
        {% endblock header %}

        {% block content %}
        {% endblock content %}

        {% block footer %}
        {% endblock footer %}
    </body>
</html>
