{% extends 'base.html' %}
{% load url from future %}

{% block javascript_extra %}
{% endblock javascript_extra %}

{% block content %}
<div id="change_password" class="container-fluid" style="padding:18% 35%">
    <form action="{% url 'change_password' %}" method="post"> {% csrf_token %}
        {% for field in form %}
            <div class="fieldWrapper">
                {{ field.label_tag }} {{ field }} {{ field.errors.as_text }}
            </div>
        {% endfor %}
        <input type="submit" value="Submit"/>
    </form>
    {% if form.non_field_errors %}
        <div id="error_msg">
            {% for err in form.non_field_errors %}
                <p class="form-error">{{ err }}</p>
            {% endfor %}
        </div>
    {% endif %}
</div>
{% endblock content %}
