{% extends "base.html" %}
{% load url from future %}

{% block title %}
    {{ collection.name }}
{% endblock title %}

{% block content %}
<section id="collection">
    <header class="container-fluid">
        <h1>{{ collection.name }}</h1>
        <p id="description">{{ collection.description }}</p>
        <p><a class="btn btn-primary" href="{{ collection.purl }}">View In Access System</a></p>
        <dl>
            <dt>Persistent ID</dt><dd>{{ collection.id }}</dd>
            <dt>Created</dt><dd>{{ collection.created }}</dd>
            <dt>Manager</dt><dd>{{ collection.manager }}</dd>

        </dl>
    </header>
    <div id="projects" class="container-fluid">
        <h3>Projects contributing to this collection</h3>
        <table class="table table-striped">
            <tr>
                <th>ID</th>
                <th>Project</th>
                <th>Manager</th>
                <th>Start Date</th>
                <th>End Date</th>
            </tr>
            {% for project in projects %}
                <tr class="project">
                    <td><a href="{% url 'project' project.id %}">{{ project.id }}</a></td>
                    <td>{{ project.name }}</td>
                    <td>{{ project.manager }}</td>
                    <td>{{ project.start_date }}</td>
                    <td>{{ project.end_date }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div id="projects_paginator" class="container-fluid">
	{% if projects.count >= 10 %} 
       		<span class="step-links">
			{% if projects.number != 1 %}
				<a href="?projects_page=1">First</a>
			{% endif %}
                        {% if projects.has_previous %}
                                <a href="?projects_page={{ projects.previous_page_number }}">Previous</a>
                        {% endif %}
                        
                        <span class="current">
                                Page {{ projects.number }} of {{ projects.paginator.num_pages }}
                        </span>
                        {% if projects.has_next %}
                                <a href="?projects_page={{ projects.next_page_number }}">Next</a>
                        {% endif %}
			{% if projects.number < projects.paginator.num_pages %}
				<a href="?projects_page={{ projects.paginator.num_pages }}">Last</a>
			{% endif %}
                </span>
	{% endif %}
   </div>
    <div id="items" class="container-fluid">
        <h3>Items in this Collection</h3>
        <table class="table table-striped">
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Local ID</th>
                <th>Project</th>
            </tr>
            {% for item in items %}
                <tr class="item">
                    <td><a href="{% url 'item' item.id %}">{{ item.id }}</a></td>
                    <td>{{ item.title }}</td>
                    <td>{{ item.local_id }}</td>
                    <td>{{ item.project.name }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div id="items_paginator" class="container-fluid">
	{% if items.count >= 10 %} 
       		<span class="step-links">
			{% if items.number != 1 %}
				<a href="?items_page=1">First</a>
			{% endif %}
                        {% if items.has_previous %}
                                <a href="?items_page={{ items.previous_page_number }}">Previous</a>
                        {% endif %}
                        
                        <span class="current">
                                Page {{ items.number }} of {{ items.paginator.num_pages }}
                        </span>
                        {% if items.has_next %}
                                <a href="?items_page={{ items.next_page_number }}">Next</a>
                        {% endif %}
			{% if items.number < items.paginator.num_pages %}
				<a href="?items_page={{ items.paginator.num_pages }}">Last</a>
			{% endif %}
                </span>
	{% endif %}
   </div>
</section>


<!-- TODO: build out recent activity section
<section id="recent-activity">
    <header>
        <h4>Recent Activity</h4>
    </header>
    <div id="actions">
        ...
    </div>
</section>
-->

{% endblock content %}
