{% extends "base.html" %}
{% load url from future %}
{% load invapp_extras %}

{% block title %}
    {{ collection.name }}
{% endblock title %}

{% block javascript_extra %}
<script type="text/javascript">
    $(function() {
            $("#search_collection_items").autocomplete({
                    select: function(event, ui) {
                        $(this).val(ui.item.value);
                        $("#search_form").submit();
                    },
                    source: function(request, response) {
                        $.ajax({
                            url: "/ajax/collection_items_autocomplete/?collection={{collection.id}}",
                            datatype: 'json',
                            data: { search: request.term },
                            success: function(data) {
                                response($.map(data, function(item) {
                                        return {
                                            label: item.fields.local_id + " : " + item.fields.title + " (" + item.pk + ")",
                                            value: item.pk
                                        }
                                }))
                            }
                        });
                    },
                    minLength: 2,
            });
      });
</script>
<style>
    .ui-autocomplete {
        max-height: 100px;
        max-width: 400px;
        overflow-y: auto;
        overflow-x: auto;
    }
</style>
{% endblock javascript_extra %}

{% block content %}
<section id="collection">
    <header class="container-fluid">
        <h1>{{ collection.name }}</h1>
        <p id="description">{{ collection.description }}</p>
        <p><a class="btn btn-primary" href="{{ collection.purl }}">View In Access System</a></p>
        <div class="row">
            <div class="span3">
                <dl>
                    <dt>Persistent ID</dt><dd>{{ collection.id }}</dd>
                    <dt>Created</dt><dd>{{ collection.created }}</dd>
                    <dt>Manager</dt><dd>{{ collection.manager }}</dd>

                </dl>
            </div>
            <div class="span3">
                <dl>
                    <dt>Total Items</dt><dd>{{ items.paginator.count }}</dd>
                    <dt>Total Files</dt><dd>{{ collection.stats.total_count }}</dd>
                    <dt>Total Size</dt><dd>{{ collection.stats.total_size|filesizeformat}}</dd>
                </dl>
            </div>
            <div class="span3">
                <dl>
                    <dt>File Types</dt><dd>
                    {% for key, value in collection.stats.types.items %}
                    {{ key }} | {{ value.count }} | {{value.size|filesizeformat }}<br />
                    {% endfor %}
                    </dd>
                </dl>
            </div>
        </div>
    </header>
    <div id="projects" class="container-fluid">
        <h3>Projects contributing to this collection</h3>
        <table class="table table-striped">
            <tr>
                <th>ID</th>
                <th>Project</th>
                <th>Manager</th>
                <th>Start Date</th>
                <th>End Date</th>
            </tr>
            {% for project in projects %}
                <tr class="project">
                    <td><a href="{% url 'project' project.id %}">{{ project.id }}</a></td>
                    <td>{{ project.name }}</td>
                    <td>{{ project.manager }}</td>
                    <td>{{ project.start_date }}</td>
                    <td>{{ project.end_date }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div id="items" class="container-fluid">
        <h3>Items in this Collection</h3>

        {% if items.paginator.count > 10 %}
            {% bootstrap_paginator_bar items 'items_page' %}
        {% endif %}

        <div style="width:100%;float:left;">
            <form id="search_form" action="{% url 'collection' collection.id %}" method="GET">
                <label for="search_collection_items"><h5>Search: </h5></label>
                <input id="search_collection_items" name="search_collection_items" type="text" />
            </form>
        </div>

        <table class="table table-striped">
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Local ID</th>
                <th>Project</th>
            </tr>
            {% for item in items %}
                <tr class="item">
                    <td><a href="{% url 'item' item.id %}">{{ item.id }}</a></td>
                    <td>{{ item.title }}</td>
                    <td>{{ item.local_id }}</td>
                    <td>{{ item.project.name }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</section>


<!-- TODO: build out recent activity section
<section id="recent-activity">
    <header>
        <h4>Recent Activity</h4>
    </header>
    <div id="actions">
        ...
    </div>
</section>
-->

{% endblock content %}
