{% extends "base.html" %}
{% load url from future %}

{% block title %}
    {{ collection.name }}
{% endblock title %}

{% block content %}
<section id="collection">
    <header class="container-fluid">
        <h1>{{ collection.name }}</h1>
        <p id="description">{{ collection.description }}</p>
        <p><a class="btn btn-primary" href="{{ collection.purl }}">View In Access System</a></p>
        <dl>
            <dt>Persistent ID</dt><dd>{{ collection.id }}</dd>
            <dt>Created</dt><dd>{{ collection.created }}</dd>
            <dt>Manager</dt><dd>{{ collection.manager }}</dd>

        </dl>
    </header>
    <div id="projects" class="container-fluid">
        <h3>Projects contributing to this collection</h3>
        <table class="table table-striped">
            <tr>
                <th>ID</th>
                <th>Project</th>
                <th>Manager</th>
                <th>Start Date</th>
                <th>End Date</th>
            </tr>
            {% for project in projects %}
                <tr class="project">
                    <td><a href="{% url 'project' project.id %}">{{ project.id }}</a></td>
                    <td>{{ project.name }}</td>
                    <td>{{ project.manager }}</td>
                    <td>{{ project.start_date }}</td>
                    <td>{{ project.end_date }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div id="items" class="container-fluid">
        <h3>Items in this Collection</h3>
        {% if items.count >= 10 %}
        <div class="pagination">
            <ul>
                <li {% if not items.has_previous %}class="disabled"{% endif %}><a href="?items_page={{ items.previous_page_number }}">&laquo;</a></li>
                <li {% if items.number == 1 %}class="disabled"{% endif %}><a href="?items_page=1">First</a></li>
                <li {% if items.number == items.paginator.num_pages %}class="disabled"{% endif %}><a href="?items_page={{ items.paginator.num_pages }}">Last</a></li>
                <li {% if not items.has_next %}class="disabled"{% endif %}><a href="?items_page={{ items.next_page_number }}">&raquo;</a></li>
        </div>
        {% endif %}
        <table class="table table-striped">
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Local ID</th>
                <th>Project</th>
            </tr>
            {% for item in items %}
                <tr class="item">
                    <td><a href="{% url 'item' item.id %}">{{ item.id }}</a></td>
                    <td>{{ item.title }}</td>
                    <td>{{ item.local_id }}</td>
                    <td>{{ item.project.name }}</td>
                </tr>
            {% endfor %}
        </table>
        {% if items.count >= 10 %}
        <div class="label label-inverse">Page {{ items.number }} of {{ items.paginator.num_pages }}</div><br />
        {% endif %}
    </div>
</section>


<!-- TODO: build out recent activity section
<section id="recent-activity">
    <header>
        <h4>Recent Activity</h4>
    </header>
    <div id="actions">
        ...
    </div>
</section>
-->

{% endblock content %}
