{% load url from future %}

<header>
    <div id="libheader-container">
        <div id="libheader" >
            <div class="libheader-logo hide-lo"><a href="http://www.gwu.edu" target="_blank" title="GWU website"><img src="/static/img/gwheaderlogo.png" width='309' height='32' alt="logo: The George Washington University" /></a></div>
            <div class="libheader-liblink"><a href="http://library.gwu.edu" target="_blank" title="GW Libraries website">GW Libraries</a></div>
        </div>
    </div>
</header>