{% extends "base.html" %}
{% load url from future %}
{% load invapp_extras %}

{% block javascript_extra %}
<script type="text/javascript">
        $(function() {
            $("#search_collection").autocomplete({
                select: function(event, ui) {
                    $(this).val(ui.item.value);
                    $("#search_collection_form").submit();
                },
                source: function(request, response) {
                    $.ajax({
                        url: "/ajax/search_collection_autocomplete/",
                        dataType: "json",
                        data: { search: request.term },
                        success: function(data) {
                            response($.map(data, function(item) {
                                    return {
                                        value: item.pk,
                                        label: item.pk + " : " + item.fields.name
                                    }
                            }));
                        },     
                   });
                },
                minLength: 2,
            });

            $("#search_project").autocomplete({
                select: function(event, ui) {
                    $(this).val(ui.item.value);
                    $("#search_project_form").submit();
                },
                source: function(request, response) {
                    $.ajax({
                        url: "/ajax/search_project_autocomplete/",
                        dataType: "json",
                        data: { search: request.term },
                        success: function(data) {
                            response($.map(data, function(item) {
                                return {
                                    value: item.pk,
                                    label: item.pk + " : " + item.fields.name
                                }
                            }));
                        },     
                    });
                },
                minLength: 2,
            });

         });
</script>
{% endblock javascript_extra %}

{% block content %}

<section id="collections" class="container-fluid">
    <h2>Our Collections</h2>
    
    {% if collections.paginator.count > 10 %}
        {% bootstrap_paginator_bar collections 'collections_page' %}
    {% endif %}
    <div class="search">
        <form id="search_collection_form" class='form-inline' action="{% url 'home' %}" method="GET">
            <label for="search_collection"><h5>Search: </h5></label>
            <input id="search_collection" name="search_collection" type="text" />
        </form>
    </div>
    <table class="table table-striped">
        <tr>
            <th>Collection</th>
            <th>ID</th>
            <th>Local ID</th>
            <th>Contact</th>
            <th>Description</th>
        </tr>
        {% for collection in collections %}
            <tr class="collection">
                <td><a href="{% url 'collection' collection.id %}">{{ collection.name }}</a></td>
                <td>{{ collection.id }}</td>
                <td>{{ collection.local_id }}</td>
                <td>{{ collection.contact_person }}</td>
                <td>{{ collection.description }}</td>
            </tr>
        {% endfor %}
    </table>
</section>

{% if projects %}
<section id="projects" class="container-fluid">
    <h2>Current Projects</h2>

    {% if collections.paginator.count > 10 %}
        {% bootstrap_paginator_bar projects 'projects_page' %}
    {% endif %}
    <div class="search">
        <form id="search_project_form" class='form-inline' action="{% url 'home' %}" method="GET">
            <label for="search_project"><h5>Search: </h5></label>
            <input id="search_project" name="search_project" type="text" />
        </form>
    </div>

    <table class="table table-striped">
        <tr>
            <th>ID</th>
            <th>Project</th>
        </tr>
        {% for project in projects %}
            <tr class="project">
                <td><a href="{% url 'project' project.id %}">{{ project.id }}</a></td>
                <td>{{ project.name }}</td>
            </tr>
        {% endfor %}
    </table>
</section>
{% endif %}

<section id="items" class="container-fluid">
    <h2>Recently Added Items</h2>
    <table class="table table-striped">
        <tr>
            <th>Collection</th>
            <th>Local ID</th>
            <th>Title</th>
            <th>ID</th>
            <th>Project</th>
            <th>Created</th>
            <th>Original type</th>
        </tr>
        {% for item in items %}
            <tr class="item">
                <td>{% if item.collection %}<a href="{% url 'collection' item.collection.id %}">{{ item.collection.name }}</a>{% endif %}</td>
                <td>{{ item.local_id }}</td>
                <td><a href="{% url 'item' item.id %}">{{ item.title }}</a></td>
                <td>{{ item.id }}</td>
                <td>{{ item.project.name }}</td>
                <td>{{ item.created }}</td>
                <td>{{ item.get_original_item_type_display }}</td>
            </tr>
        {% endfor %}
    </table>
</section>

<section id="machines" class="container-fluid">
    <h2>Storage hosts</h2>
    <table class="table table-striped">
        <tr>
            <th>Name</th>
            <th>URL</th>
            <th>Notes</th>
        </tr>
        {% for machine in machines %}
            <tr>
                <td><a href="{% url 'machine' machine.id %}">{{ machine.name }}</a></td>
                <td>{{ machine.url }}</td>
                <td>{{ machines.notes }}</td>
            </tr>
        {% endfor %}
    </table>
</section>
{% endblock content %}
