{% extends "base.html" %}
{% load url from future %}

{% block title %}
    GWU Libraries Digital Inventory
{% endblock title %}

{% block content %}
<section id="machines" class="container-fluid">
    <h3>Digital Storage Places (Machines)<h3>
    <table class="table table-striped">
        <tr>
            <th>Name</th>
            <th>URL</th>
            <th>Notes</th>
        </tr>
        {% for machine in machines %}
            <tr>
                <td><a href="{% url 'machine' machine.id %}">{{ machine.name }}</a></td>
                <td>{{ machine.url }}</td>
                <td>{{ machines.notes }}</td>
            </tr>
        {% endfor %}
    </table>
</section>
<section id="collections" class="container-fluid">
    <h3>Our Collections</h3>
    <table class="table table-striped">
        <tr>
            <th>ID</th>
            <th>Collection</th>
            <th>Manager</th>
            <th>Description</th>
        </tr>
        {% for collection in collections %}
            <tr class="collection">
                <td><a href="{% url 'collection' collection.id %}">{{ collection.id }}</a></td>
                <td>{{ collection.name }}</td>
                <td>{{ collection.manager }}</td>
                <td>{{ collection.description }}</td>
            </tr>
        {% endfor %}
    </table>
</section>
<section id="projects" class="container-fluid">
    <h3>Current Projects</h3>
    <table class="table table-striped">
        <tr>
            <th>ID</th>
            <th>Project</th>
        </tr>
        {% for project in projects %}
            <tr class="project">
                <td><a href="{% url 'project' project.id %}">{{ project.id }}</a></td>
                <td>{{ project.name }}</td>
            </tr>
        {% endfor %}
    </table>
</section>
<section id="items" class="container-fluid">
    <h3>Recently Added Items</h3>
    <table class="table table-striped">
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Local ID</th>
            <th>Project</th>
            <th>Collection</th>
            <th>Created</th>
            <th>Item Type</th>
        </tr>
        {% for item in items %}
            <tr class="item">
                <td><a href="{% url 'item' item.id %}">{{ item.id }}</a></td>
                <td>{{ item.title }}</td>
                <td>{{ item.local_id }}</td>
                <td>{{ item.project.name }}</td>
                <td>{{ item.collection.name }}</td>
                <td>{{ item.created }}</td>
                <td>{{ item.get_original_item_type_display }}</td>
            </tr>
        {% endfor %}
    </table>
</section>

{% endblock content %}
