{% extends "base.html" %}
{% load url from future %}

{% block title %}
	{{ item.title }}
{% endblock title %}

{% block content %}
<section id="item">
    <header class="container-fluid">
    	{% if item.title %}
            <h1>{{ item.title }}</h1>
        {% else %}
            <p>
                <h1>{{ item.id }}</h1>
                (title not available)
            </p>
        {% endif %}
        {% if item.access_loc != '' %}
        <p><a class="btn btn-primary" href="{{ item.access_loc }}">View Access Version</a></p>
        {% endif %}
        <div class="span3">

        	<dl>
        	    <dt>Persistent ID</dt><dd>{{ item.id }}</dd>
        	    <dt>Local ID</dt><dd>{{item.local_id }}</dd>
        	    <dt>Collection</dt><dd>{% if item.collection %}<a href="{% url 'collection' item.collection.id %}">{{ item.collection.name }}</a>{% endif %}</dd>
        	    <dt>Project</dt><dd>{% if item.project %}<a href="{% url 'project' item.project.id %}">{{ item.project.name }}</a>{% endif %}</dd>
        	</dl>
        </div>
        <div class="span3">
            <dl>
                <dt>Created</dt><dd>{{ item.created }}</dd>
                <dt>Original Item Type</dt><dd>{{ item.get_original_item_type_display }}</dd>
                <dt>Item notes</dt><dd>{{ item.notes }}</dd>
            </dl>
        </div>
        <div class="span3">
            <dl>
                <dt>Total Files</dt><dd>{{ item.stats.total_count }}</dd>
                <dt>Total Size</dt><dd>{{ item.stats.total_size|filesizeformat }}</dd>
                <dt>File types</dt>
                <dd>{% for key, value in item.stats.types.items %}
                    {{key}} | {{value.count}} | {{value.size|filesizeformat}}<br />
                    {% endfor %}
                </dd>
            </dl>
        </div>
    </header>
    <div id="bags" class="container-fluid">
	<h3>Bags for this item</h3>
	<table class="table table-striped">
            <tr>
                <th>Name</th>
                <th>Location (machine)</th>
                <th>Location (path)</th>
                <th>Type</th>
            </tr>
            {% for bag in bags %}
                <tr class="bag">
                    <td><a href="{% url 'bag' bag.bagname %}">{{ bag.bagname }}</a></td>
                    <td>{{ bag.machine.name }}</td>
                    <td>{{ bag.access_url }}</td>
                    <td>{{ bag.get_bag_type_display }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</section>

{% endblock content %}
