{% extends "base.html" %}
{% load url from future %}

{% block title %}
	{{ item.title }}
{% endblock title %}

{% block content %}
<section id="item">
    <header class="container-fluid">
    	{% if item.title %}
            <h1>{{ item.title }}</h1>
        {% else %}
            <p>
                <h1>{{ item.pid }}</h1>
                (title not available)
            </p>
        {% endif %}
        <p><a class="btn btn-primary" href="{{ item.purl }}">View Access Version</a></p>
        <div class="span3">

        	<dl>
        	    <dt>Persistent ID</dt><dd>{{ item.pid }}</dd>
        	    <dt>Local ID</dt><dd>{{item.local_id }}</dd>
        	    <dt>Collection</dt><dd><a href="{% url 'collection' item.collection.pid %}">{{ item.collection.name }}</a></dd>
        	    <dt>Project</dt><dd><a href="{% url 'project' item.project.pid %}">{{ item.project.name }}</a></dd>        	
        	</dl>
        </div>
        <div class="span3">
            <dl>
                <dt>Created</dt><dd>{{ item.created }}</dd>
                <dt>Original Item Type</dt><dd>{{ item.get_original_item_type_display }}</dd>
                <dt>Item notes</dt><dd>{{ item.notes }}</dd>
            </dl>
        </div>
        <div class="span3">
            <dl>
                <dt>Raw files location</dt><dd>{{ item.rawfiles_loc }}</dd>
                <dt>QC files location</dt><dd>{{ item.qcfiles_loc }}</dd>
                <dt>QA files location</dt><dd>{{ item.qafiles_loc }}</dd>
                <dt>FIN files location</dt><dd>{{ item.finfiles_loc }}</dd>
                <dt>OCR files location</dt><dd>{{ item.ocrfiles_loc }}</dd>
            </dl>
        </div>
    </header>
    <div id="bags" class="container-fluid">
	<h3>Bags for this item</h3>
	<table class="table table-striped">
            <tr>
                <th>Bag Name</th>
                <th>Location (machine)</th>
                <th>Location (path)</th>
            </tr>
            {% for bag in bags %}
                <tr class="bag">
                    <td><a href="{% url 'bag' bag.bagname %}">{{ bag.bagname }}</a></td>
                    <td>{{ bag.machine.name }}</td>
                    <td>{{ bag.urlpath }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</section>

{% endblock content %}
