{% extends "base.html" %}
{% load url from future %}

{% block javascript_extra %}
<script type="text/javascript">
    $(function() {
            $("#id_username").focus();
    });
</script>
{% endblock javascript_extra %}

{% block content %}
<div id="login" class="container-fluid login">
    <form action="{% url 'login' %}" method="post">{% csrf_token %}
        {% for field in form %}
            <div class="fieldWrapper">
                {{ field.label_tag }} {{ field }}  {{ field.errors.as_text }}
            </div>
        {% endfor %}
        <input type="submit" value="Login"/>
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
    <a href="{% url 'password_reset' %}">Forgot password?</a>
    {% if form.non_field_errors %}
            <div id='error_msg'>
                {% for err in form.non_field_errors %}
                <h3 class="form-error">{{ err }}</h3>
                {% endfor %}
            </div>
    {% endif %}
</div>
{% endblock content %}
