{% extends "base.html" %}
{% load url from future %}

{% block title %}
	{{ project.name }}
{% endblock title %}

{% block content %}
<section id="project">
    <header class="container-fluid">
	<h1>{{ project.name }}</h1>
    <div class="span4">
    	<dl>
    	    <dt>Persistent ID</dt><dd>{{ project.pid }}</dd>
    	    <dt>Manager</dt><dd>{{ project.manager }}</dd>
    	    <dt>Collection</dt><dd><a href="{% url 'collection' project.collection.pid %}">{{ project.collection.name }}</a></dd>
        </dl>
    </div>
    <div class="span4">
        <dl>
            <dt>Start Date</dt><dd>{{ project.start_date }}</dd>
            <dt>End Date</dt><dd>{{ project.end_date }}</dd>
        </dl>
    </div>
    </header>
    <div id="items" class="container-fluid">
	<h3>Items in this project</h3>
	<table class="table table-striped">
            <tr>
                <th>PID</th>
                <th>Title</th>
                <th>Local ID</th>
            </tr>
            {% for item in items %}
                <tr class="item">
                    <td><a href="{% url 'item' item.pid %}">{{ item.pid }}</a></td>
                    <td>{{ item.title }}</td>
                    <td>{{ item.local_id }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</section>

{% endblock content %}
