{% extends "base.html" %}
{% load url from future %}
{% load invapp_extras %}

{% block title %}
	{{ project.name }}
{% endblock title %}

{% block javascript_extra %}
<script type="text/javascript">
    $(function() {
        $("#search_project_items").autocomplete({
            select: function(event, ui) {
                $(this).val(ui.item.value);
                $("#search_form").submit();
            },
            source: function(request, response) {
                $.ajax({
                    url: "/ajax/project_items_autocomplete/?project={{project.id}}",
                    datatype: 'json',
                    data: { search: request.term },
                    success: function(data) {
                        response($.map(data, function(item) {
                            return {
                                label: item.fields.local_id + " : " + item.fields.title + " (" + item.pk + ")", 
                                value: item.pk
                            }
                        }));
                    },
                });
            },
            minLength: 2,
        });
    });
</script>
<style>
    .ui-autocomplete {
        max-height: 100px;
        max-width: 400px;
        overflow-y: auto;
        overflow-x: auto;
    }
</style>
{% endblock javascript_extra %}


{% block content %}
<section id="project">
    <header class="container-fluid">
	<h1>{{ project.name }}</h1>
    <div class="span3">
    	<dl>
    	    <dt>Persistent ID</dt><dd>{{ project.id }}</dd>
    	    <dt>Collection</dt><dd><a href="{% url 'collection' project.collection.id %}">{{ project.collection.name }}</a></dd>
        </dl>
    </div>
    <div class="span3">
        <dl>
            <dt>Total Items</dt><dd>{{ items.paginator.count }}</dd>
            <dt>Total Files</dt><dd>{{ project.stats.total_count }}</dd>
            <dt>Total Size</dt><dd>{{ project.stats.total_size|filesizeformat }}</dd>
        </dl>
    </div>
    <div class="span3">
        <dl>
            <dt>File Types</dt><dd>
            {% for key, value in project.stats.types.items %}
            {{ key }} | {{ value.count }} | {{value.size|filesizeformat }}<br />
            {% endfor %}
            </dd>
        </dl>
    </div>
    </header>
    <div id="items" class="container-fluid">
	<h3>Items in this project</h3>
    {% if items.paginator.count >= 10 %}
       {% bootstrap_paginator_bar items 'items_page' %}
    {% endif %}
    <div style="width:100%;float:left;">
        <form id="search_form" action="{% url 'project' project.id %}" method="GET">
            <label for="search_project_items"><h5>Search: </h5></label>
            <input id="search_project_items" name="search_project_items" type="text" />
        </form>
    </div>
	<table class="table table-striped">
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Local ID</th>
            </tr>
            {% for item in items %}
                <tr class="item">
                    <td><a href="{% url 'item' item.id %}">{{ item.id }}</a></td>
                    <td>{{ item.title }}</td>
                    <td>{{ item.local_id }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</section>

{% endblock content %}
