<div class="span3">
    <table class='table table-condensed table-striped'>
        <thead>
            <th>type</th>
            <th>#</th>
            <th>size</th>
        </thead>
        <tbody>
            {% for key, value in grouping.stats.types.items %}
            <tr>
                <td>{{ key }}</td>
                <td>{{ value.count }}</td>
                <td>{{ value.size|filesizeformat }}</td>
            </tr>
            {% endfor %}
            <tr>
                <td><strong>total</strong></td>
                <td><strong>{{ grouping.stats.total_count }}</strong</td>
                <td><strong>{{ grouping.stats.total_size|filesizeformat }}</strong></td> 
            </tr>
        </tbody>
    </table>
</div>
