h1 {
    font-size: x-large;
}

.table th {
    font-weight: normal;
}

dt {
    font-weight: normal;
}

dd {
    font-weight: bold;
}

p#description {
    font-size: large;
}

.login {
    padding: 16.5% 35%;
}

.ui-autocomplete {
    max-height: 100px;
    max-width: 400px;
    overflow-y: auto;
    overflow-x: auto;
}

.file-type-dropdown {
    float:left;
    width:5%;
}

.search {
    width:100%;
    float:left;
}

.pwd-reset-complete {
    padding-bottom: 44%;
}
